body {
  background: radial-gradient( #fbf8f8, #eceef4); /* Adjust colors as needed */
  overflow-x: hidden;
}

.app-container{
  margin: 2vw
}

h2{
  font-family: "Wotfard", Times, sans-serif;
  color: red;
}