@font-face {
  font-family: "Wotfard";
 
  src: url('./wotfard-regular-webfont.woff2') format('woff2'),
  

}
body {
  background: #fbf8f8,; /* Adjust colors as needed */
  overflow-x: hidden;
}
.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.app-container{
  margin: 2vw;
  width: 90%;
  text-align: center;
  
}

h2{
  font-family: "Wotfard", 'Times New Roman', Times, serif;
  color: rgb(63, 24, 24);
  letter-spacing: -1px;
}