@font-face {
  font-family: "Wotfard";
  src: url('./wotfard-regular-webfont.eot');
  src: url('./wotfard-regular-webfont.woff2') format('woff2'),
       url('./wotfard-regular-webfont.ttf') format('truetype');

}
body {
  background: radial-gradient( #fbf8f8, #eceef4); /* Adjust colors as needed */
  overflow-x: hidden;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(100ch, calc(100% - 30px)) 1fr;
}
.wrapper > * {
  grid-column: 2;
}




h2{
  font-family: "Wotfard", 'Times New Roman', Times, serif;
  color: rgb(63, 24, 24);
  letter-spacing: -1px;
}