.hamburger-icon {
  font-size: 2em;
  color: rgb(12, 8, 8);
  cursor: pointer;
  display: flex;
  float: right;
}

.hamburger-icon.open {
  visibility: hidden;
}

.overlay-menu {
  position: right;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: right;
  align-items: right;
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  z-index: 1000;
  color: rgb(9, 9, 9);
}

.close-icon {
  font-size: 2em;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.menu-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Wotfard", 'Times New Roman', Times, serif;
  color: rgb(241, 232, 232);
  letter-spacing: -1px;
}
