Header {
  background-color: rgb(173, 104, 104);
  height: 12.5vh; /* 1/8 of the viewport height */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 95%;  
}



.nav-button {
  display: inline-block;
  padding: 1vh 3vh; /* Set the height and width using viewport height (vh) */
  text-decoration: none;
  color: rgb(5, 4, 4);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em; /* Set the font size using viewport height (vh) */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */

  /* Adjust button styling as needed */
}
/* Hamburger menu styles for smaller screens */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none; /* Hide the regular nav list on smaller screens */
  }

  .nav-button {
    margin-right: 0; /* Remove margin for buttons in the hamburger menu */
  }
}


.nav-button:hover {
  color:blue
}