Header {
  background-color: rgb(173, 104, 104);
   /* 1/8 of the viewport height */
  

}



.nav-button {
  padding: .5rem .5rem; /* Set the height and width using viewport height (vh) */
  text-decoration: none;
  color: rgb(8, 223, 226);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem; /* Set the font size using viewport height (vh) */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  font-family: "Wotfard", 'Times New Roman', Times, serif;
  color: rgb(63, 24, 24);
  letter-spacing: -1px;
  gap: .25rem;

  /* Adjust button styling as needed */
}
/* Hamburger menu styles for smaller screens */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none; /* Hide the regular nav list on smaller screens */
  }

  .nav-button {
    margin-right: 0; /* Remove margin for buttons in the hamburger menu */
  }
}

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-button:hover {
  color:blue
}

.logos{
  
  gap: .5rem;
}
.githublogo{
  width: 2rem;
  height: 2rem;

}
.linkedinlogo{
  width: 2rem;
  height: 2rem;
}