Header {
  background-color: rgb(173, 104, 104);
  height: 12.5vh; /* 1/8 of the viewport height */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}



.nav-button {
  display: inline-block;
  padding: 1rem 1rem; /* Set the height and width using viewport height (vh) */
  text-decoration: none;
  color: rgb(8, 223, 226);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem; /* Set the font size using viewport height (vh) */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  font-family: "Wotfard", 'Times New Roman', Times, serif;
  color: rgb(63, 24, 24);
  letter-spacing: -1px;

  /* Adjust button styling as needed */
}
/* Hamburger menu styles for smaller screens */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none; /* Hide the regular nav list on smaller screens */
  }

  .nav-button {
    margin-right: 0; /* Remove margin for buttons in the hamburger menu */
  }
}

.toolbar{
  display: flex;
  padding: 1vh 1vw;
}
.nav-button:hover {
  color:blue
}

.githublogo{
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  padding: 1vh 1vw;
}
.linkedinlogo{
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  padding: 1vh 1vw;
}